* text=auto
*.py text eol=lf
*.md text eol=lf
*.jsonc text eol=lf
*.json text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sh text eol=lf
*.ps1 text eol=crlf
*.db filter=lfs diff=lfs merge=lfs -text
