<aside class="sidebar {{ page.background }}">
  <div class="sidebar-content">
    <div class="sidebar-brand">
      <a href="{{ site.baseurl }}/">
        <img height="124" width="98" src="{{ site.baseurl }}/assets/images/peter-soul.gif" alt="self" />
      </a>
    </div>
    
   <nav class="sidebar-nav">   
      <a href="{{ '/index.md' | relative_url }}">Home</a>
      <a href="{{ '/columns.md' | relative_url }}">Newsletter</a>
      <a href="{{ '/advanced-driving.md' | relative_url }}">Advanced driving</a>
      <a href="{{ '/escaping.md' | relative_url }}">Escaping advice</a>
      <a href="{{ '/about.md' | relative_url }}">About</a>
    </nav>
  </div>
</aside>
